# gotify.container

[Container]
ContainerName=gotify
Image=gotify/server
PublishPort=7777:80
Volume=gotify-data:/app/data

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
