# ddns-go.container
[Container]
ContainerName=ddns-go
Image=jeessy/ddns-go
Network=host
Volume=ddns-go-data:/root

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
